.charCard {
  display: flex;
  width: 124px;
  height: 316px;
  flex-direction: column;
  margin: auto 12px;
  cursor: pointer;
  border: solid 1px rgba(35, 29, 29, 0.677);
  padding: 16px 24px;
  background-color: rgb(55, 42, 121);
}

.charCard:hover {
  background-color: rgb(46, 38, 86);
  transition: 100ms;
}
.charCard h3,
h5 {
  margin: auto 0px;
}
