:root {
  --lessthan50: green;
  --more50_less80: blue;
  --more80: red;
}

.less50 {
  background-color: var(--lessthan50);
  height: 90%;
}
.more80 {
  background-color: var(--more80);
}
.midling {
  background-color: var(--more50_less80);
}
